@if (User.Identity.IsAuthenticated)
{
    <div class="text-center col-12 col-lg-9 order-lg-0 bg-light mt-1">
        <address>
            <strong>Phone:</strong><abbr title="Phone">+380930000000</abbr>
        </address>
        <address>
            <strong>Email:</strong> <a href="mailto:admin@hospital.com.ua">admin@hospital.com.ua</a>
        </address>
    </div>
}
else
{
    <div class="text-center col-12 order-lg-0 bg-light mt-1">
        <address>
            <strong>Phone:</strong><abbr title="Phone">+380930000000</abbr>
        </address>
        <address>
            <strong>Email:</strong> <a href="mailto:admin@hospital.com.ua">admin@hospital.com.ua</a>
        </address>
    </div>
}

