@if (User.Identity.IsAuthenticated)
{
    <div class="col-12 col-lg-9 order-lg-0 bg-light mt-1 rounded">
        <div class="row h-100 justify-content-center align-items-center">Hello, @User.Identity.Name!</div>
    </div>

}
else
{
    <div class="col-12 h-100 col-lg-12 order-lg-0 bg-light mt-1 rounded">
        <div class="row h-100 justify-content-center align-items-center">
            <p class="text-center">
                You need to login to use the site. For more information @Html.ActionLink("Contact", "Contact", "Home") us.<br />
                If you already have an account, please @Html.ActionLink("Login", "Login", "Home").
            </p>
        </div>
    </div>
}

